# ==============================================================================
# AURASKILL - INFRASTRUCTURE ENVIRONMENT VARIABLES (TEMPLATE)
# ==============================================================================
# Instruções: Copie este arquivo para .env e preencha os valores reais.

COMPOSE_PROJECT_NAME=auraskill_stack

# --- KEYCLOAK LOCAL DB ---
KC_DB_URL=jdbc:postgresql://db-keycloak:5432/keycloak_db
KC_DB_USER=keycloak_user
KC_DB_PASSWORD=keycloak_password
KC_DB_NAME=keycloak_db
KC_DB_PORT=5433
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=Kadmin!Q1
KC_PORT=8080

# --- FRONTEND NEXT.JS ---
FRONT_PORT=3000
KEYCLOAK_CLIENT_ID=auraskill-frontend
KEYCLOAK_CLIENT_SECRET=oAfzIQYTz2uFzPlsWEwd0GuBVTKs3sEH
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=qualquer-string-longa-e-estavel
NEXT_PUBLIC_API_URL=http://localhost:8081

# --- BACKEND Spring-boot ---
KEYCLOAK_INTERNAL_ISSUER=http://localhost:8080/realms/auraskill
APP_DB_USER=guiassys
APP_DB_PASSWORD=Kadmimn!Q1
APP_DB_NAME=auraskill
APP_DB_PORT=5432