# Docker / Local Data
# Não versione os dados reais do banco para não inflar o repo
.docker-data/
docker/*/data/
*.log

# Java / Maven / Gradle
target/
build/
.gradle/
.mvn/
*.class

# Node / Next.js
node_modules/
.next/
out/
build/

# IDEs
.idea/
.vscode/
*.swp
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Plugins / Tools
.ollamassist/
/aiprompts/assets/auraskill-api.json
/aiprompts/assets/auraskill-frontend.json
/docker/hml/secrets.env
/docker/dev/secrets.env
/docker/prd/secrets.env
