# ==============================================================================
# AURASKILL - INFRASTRUCTURE SECRETS
# ==============================================================================

# --- KEYCLOAK LOCAL DATABASE ---
KC_DB_PASSWORD=

# --- KEYCLOAK SERVICE ---
KC_ADMIN_PASSWORD=

# --- APPLICATION DATABASE ---
APP_DB_PASSWORD=

# --- REDIS CACHE SERVER ---
REDIS_PASSWORD=

# --- FRONTEND (NEXT.JS) ---
KEYCLOAK_CLIENT_SECRET=
NEXTAUTH_SECRET=
